{:application/environment :dev

 :http/server {:config {:port 7700} :handler #ig/ref :http/handler}

 :http/handler {:dependencies {:conn #ig/ref :datomic/conn}}

 :servitor/config {:conn #ig/ref :datomic/conn
                   :services [{:task :vasco.servitor.task/init-todos
                               :interval 10000
                               :run? true
                               :opts {:url "https://dummyjson.com/todos"
                                      :limit 0}}]}

 :servitor/jobs {:conn #ig/ref :datomic/conn
                 :migrations #ig/ref :datomic/migrations
                 :jobs [{:job/task :vasco.servitor.task/init-todos
                         :job/state :pending
                         :job/retries 5}]}

 :datomic/migrations {:location "migrations.edn" :conn #ig/ref :datomic/conn}

 :datomic/conn {:db/host "datomic:mem://" :db/name "vasco" :db/port 4334}}
