{:application/environment :dev

 :http/server {:config {:port 7700} :handler #ig/ref :http/handler}

 :http/handler {:dependencies {:conn #ig/ref :datomic/conn}}

 :servitor/config {:conn #ig/ref :datomic/conn
                   :services [{:task :vasco.servitor.task/fetch-todos
                               :interval 10000
                               :run? true}]}

 :datomic/migrations {:location "migrations.edn" :conn #ig/ref :datomic/conn}

 :datomic/conn {:db/host "datomic:mem://" :db/name "vasco" :db/port 4334}}
