{:application/environment :dev

 :http/server {:config {:port 7700} :handler #ig/ref :http/handler}

 :http/handler {:dependencies {:conn #ig/ref :datomic/conn}}

 :servitor/service {:services [{:id :vasco.servitor.task/fetch-todos :interval 10000 :run? true}
                               {:id :vasco.servitor.task/fetch-map :interval 10000 :run? false}]}

 :datomic/migrations {:config {}}

 :datomic/conn {:db/host "datomic:mem://" :db/name "vasco" :db/port 4334}}
