[{:db/ident       :job/id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}

 {:db/ident       :job/task
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident       :job/state
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident       :job/retries
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident       :job/last-started-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident       :job/last-finished-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}


 ;; todos
 {:db/ident       :todo/id
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident       :todo/task
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :todo/done?
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one}
 ]
